<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo center" href="/stories">StoryBooks</a>
      <a data-activates="main-menu" class="button-collapse show-on-large" href="#"><i class="fa fa-bars"></i></a>

      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
          <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out"></i></a></li>
        {{else}}
          <a href="/stories"><i class="fa fa-book"></i>Public Stories</a>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>
